@mixin transition($duration: 0.4s) {
    transition: all $duration ease;
}

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin resetLink($color: black) {
    color: $color;
    text-decoration: none;
}

@mixin yesevaOne($size: calc(38rem / 16)) {
    font-family: 'Yeseva One', cursive;
    font-size: $size;
    font-weight: normal;
    line-height: 110%;
}

@mixin yanoneKaffeesatz($size: calc(20rem / 16)) {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: $size;
    font-weight: 300;
    letter-spacing: calc(($size / 100) * 3);
    line-height: 140%;
}

@mixin dropShadowRight($size: 20px) {
    box-shadow: $size $size 0px 0px $primary--bright;
}

@mixin dropShadowLeft($size: 20px) {
    box-shadow: -$size $size 0px 0px $primary--bright;
}

@mixin customUnderline($width: 0%, $height: 1px, $color: black) {
    content: "";
    width: $width;
    height: $height;
    background-color: $color;
}

@mixin mobile {
    @media screen and (max-width: 500px){
        @content;
    }
}