h2 {
    @include flex(column, center, center);
    @include yesevaOne(calc(55rem / 16));
    width: fit-content;

    &::after {
        @include customUnderline(100%, 3px, $primary--bright);
    }
}

.cabinet {
    @include flex(column, center, center);
    margin: 50px;

    &_icons {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 60px;
        row-gap: 30px;
    }

    &_description {
        @include yanoneKaffeesatz(calc(23rem / 16));
        text-align: center;
    }

    @for $i from 1 through 6 {
        &_icon--#{$i} {
            grid-row: 1 / span 1;
            grid-column: #{$i} / span 1;
        }

        &_description--#{$i} {
            grid-row: 2 / span 1;
            grid-column: #{$i} / span 1;
        }
    }

    &_photos {
        margin: 50px 0px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 50px;

        &--1 {
            grid-row: 1 / span 1;
            grid-column: 1 / span 4;
        }

        &--2 {
            grid-row: 1 / span 1;
            grid-column: 5 / span 8;
        }

        &--3 {
            grid-row: 2 / span 1;
            grid-column: 1 / span 8;
        }

        &--4 {
            grid-row: 2 / span 1;
            grid-column: 9 / span 4;
        }
    }
}