h2 {
    @include flex(column, center, center);
    @include yesevaOne(calc(55rem / 16));
    width: fit-content;
    text-align: center;

    &::after {
        @include customUnderline(100%, 3px, $primary--bright);

        @include tablet-s {
            width: 0px;
        }
    }

    @include desktop-l {
        font-size: calc(50rem / 16);
    }

    @include desktop-m {
        font-size: calc(45rem / 16);
    }

    @include desktop-s {
        font-size: calc(35rem / 16);
    }

    @include tablet-m {
        font-size: calc(28rem / 16);
    }

    @include tablet-s {
        font-size: calc(40rem / 16);
    }

    @include mobile-l {
        font-size: calc(30rem / 16);
        text-align: center;
    }
}

.cabinet {
    @include flex(column, center, center);
    margin: 50px;

    @include mobile-s {
        margin: 30px;
    }

    &_icons {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 60px;
        row-gap: 30px;

        @include tablet-m {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, auto);
        }

        @include mobile-l {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, auto);
        }

        @include mobile-s {
            column-gap: 20px;
        }
    }

    &_description {
        @include yanoneKaffeesatz(calc(23rem / 16));
        text-align: center;

        @include desktop-m {
            font-size: calc(17rem / 16);
        }

        @include mobile-s {
            font-size: 1rem;
        }
    }

    @for $i from 1 through 6 {
        &_icon--#{$i} {
            grid-row: 1 / span 1;
            grid-column: #{$i} / span 1;
        }

        &_description--#{$i} {
            grid-row: 2 / span 1;
            grid-column: #{$i} / span 1;
        }
    }

    @include tablet-m {
        &_icon--1 {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
        }

        &_description--1 {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
        }

        &_icon--2 {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
        }

        &_description--2 {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        &_icon--3 {
            grid-row: 1 / span 1;
            grid-column: 3 / span 1;
        }

        &_description--3 {
            grid-row: 2 / span 1;
            grid-column: 3 / span 1;
        }

        &_icon--4 {
            grid-row: 3 / span 1;
            grid-column: 1 / span 1;
        }

        &_description--4 {
            grid-row: 4 / span 1;
            grid-column: 1 / span 1;
        }

        &_icon--5 {
            grid-row: 3 / span 1;
            grid-column: 2 / span 1;
        }

        &_description--5 {
            grid-row: 4 / span 1;
            grid-column: 2 / span 1;
        }

        &_icon--6 {
            grid-row: 3 / span 1;
            grid-column: 3 / span 1;
        }

        &_description--6 {
            grid-row: 4 / span 1;
            grid-column: 3 / span 1;
        }
    }

    @include mobile-l {
        &_icon--1 {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
        }

        &_description--1 {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
        }

        &_icon--2 {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
        }

        &_description--2 {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        &_icon--3 {
            grid-row: 3 / span 1;
            grid-column: 1 / span 1;
        }

        &_description--3 {
            grid-row: 4 / span 1;
            grid-column: 1 / span 1;
        }

        &_icon--4 {
            grid-row: 3 / span 1;
            grid-column: 2 / span 1;
        }

        &_description--4 {
            grid-row: 4 / span 1;
            grid-column: 2 / span 1;
        }

        &_icon--5 {
            grid-row: 5 / span 1;
            grid-column: 1 / span 1;
        }

        &_description--5 {
            grid-row: 6 / span 1;
            grid-column: 1 / span 1;
        }

        &_icon--6 {
            grid-row: 5 / span 1;
            grid-column: 2 / span 1;
        }

        &_description--6 {
            grid-row: 6 / span 1;
            grid-column: 2 / span 1;
        }
    }

    &_photos {
        margin: 50px 0px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 50px;

        @include mobile-xl {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, auto);
        }

        &--1 {
            grid-row: 1 / span 1;
            grid-column: 1 / span 4;
            @include mobile-xl {
                max-height: 300px;
            }
        }

        &--2 {
            grid-row: 1 / span 1;
            grid-column: 5 / span 8;
            @include mobile-xl {
                max-height: 300px;
            }
        }

        &--3 {
            grid-row: 2 / span 1;
            grid-column: 1 / span 8;
            @include mobile-xl {
                max-height: 300px;
            }
        }

        &--4 {
            grid-row: 2 / span 1;
            grid-column: 9 / span 4;
            @include mobile-xl {
                max-height: 300px;
            }
        }

        @include mobile-xl {
            @for $i from 1 through 4 {
                &--#{$i} {
                    aspect-ratio: 1.5 / 1;
                    object-fit: cover;
                    height: clamp(100px, 100%, 400px);
                    grid-row: #{$i} / span 1;
                    grid-column: 1 / span 1;
                }
            }
        }
    }
}