.hero {
    &_background {
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    &_picture {
        width: 100%;
    }

    &_color {
        width: 100%;
        position: absolute;
    }

    &_title {
        @include yesevaOne(calc(120rem / 16));
        margin: 100px 50px calc(50rem / 16) 50px;
    }

    &_subtitle {
        @include yanoneKaffeesatz(calc(90rem / 16));
        margin: 0px 50px;

        &:last-of-type {
            margin-bottom: 300px;
        }
    }
}

