.hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 180px 1fr;
    width: 100%;

    &_picture, &_color {
        grid-row: 1 / span 2;
        grid-column: 1 / span 12;
    }

    &_content {
        @include flex(column, start, start);
        grid-row: 2 / span 1;
        grid-column: 1 / span 8;
        margin: calc(100rem / 16) 0px 0px 50px;

        @include desktop-m {
            margin-top: calc(40rem / 16);
        }

        @include desktop-s {
            grid-row: 1 / span 2;
            grid-column: 1 / span 8;
            margin: 80px;
        }

        @include tablet-l {
            margin: 120px 80px;
            grid-column: 1 / span 10;
        }

        @include tablet-s {
            margin: 60px;
        }

        @include mobile-l {
            grid-column: 1 / span 12;
            margin: 30px;
        }
    }

    &_title {
        @include yesevaOne(calc(120rem / 16));
        margin-bottom: calc(50rem / 16);

        @include desktop-l {
            font-size: calc(100rem / 16);
        }

        @include desktop-m {
            font-size: calc(80rem / 16);
            margin-bottom: calc(30rem / 16);
        }

        @include tablet-l {
            font-size: calc(60rem / 16);
        }

        @include tablet-m {
            font-size: calc(50rem / 16);
        }

        @include tablet-s {
            font-size: calc(60rem / 16);
        }

        @include mobile-xl {
            font-size: calc(40rem / 16);
            margin-bottom: calc(15rem / 16);
        }

        @include mobile-l {
            font-size: calc(40rem / 16);
        }

        @include mobile-m {
            font-size: calc(32rem / 16);
        }

        &:last-child {
            margin-top: calc(30rem / 16);
        }
    }

    &_subtitle {
        @include yanoneKaffeesatz(calc(90rem / 16));

        @include desktop-l {
            font-size: calc(75rem / 16);
        }

        @include desktop-m {
            font-size: calc(60rem / 16);
        }

        @include tablet-l {
            font-size: calc(50rem / 16);
        }

        @include tablet-m {
            font-size: calc(40rem / 16);
        }

        @include tablet-s {
            font-size: calc(35rem / 16);
        }

        @include mobile-l {
            font-size: calc(32rem / 16);
            letter-spacing: 0.1rem;
        }

        @include mobile-m {
            font-size: calc(24rem / 16);
        }
    }
}

