.menu {
    @include flex(row, space-between, center);
    @include transition;
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
    padding: 50px;

    @include desktop-s {
        justify-content: center;
        background-color: $primary--bright;
        position: fixed;
        bottom: 0;
        z-index: 99;
        width: 100%;
        padding: 30px;
    }

    &--fixed {
        @include transition;
        padding: 25px 50px;
        background: white;
        overflow: hidden;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        box-shadow: 0px 5px 30px 0px rgb(86 25 59 / 10%);
    }

    &_title {
        @include yesevaOne(calc(30rem / 16));
        @include transition;
        @include resetLink;
        opacity: 0;

        @include desktop-s {
            display: none;
        }
    }

    &_contents {
        @include flex(row, end, center);
    }

    &_item {
        @include yanoneKaffeesatz(calc(30rem / 16));
        @include resetLink;
        @include flex(column, center, center);
        background: none;
        border: none;
        box-shadow: none;
        cursor: pointer;

        &:first-of-type {
            margin-right: calc(50rem / 16);
        }

        &::after {
            @include transition;
            @include customUnderline;
        }

        &:hover::after, &:focus::after {
            width: 100%;
        }

        @include desktop-l {
            font-size: calc(25rem / 16);
        }

        @include desktop-m {
            font-size: calc(20rem / 16);
        }

        @include desktop-s {
            display: none;
        }
    }

    &_button {
        @include yanoneKaffeesatz(calc(30rem / 16));
        @include transition;
        @include resetLink;
        background-color: white;
        border-radius: 15px;
        margin-left: calc(80rem / 16);
        padding: calc(20rem / 16) calc(40rem / 16);
        border: none;
        box-shadow: none;
        cursor: pointer;

        @include desktop-l {
            font-size: calc(25rem / 16);
        }

        @include desktop-m {
            font-size: calc(20rem / 16);
        }

        @include desktop-s {
            margin-left: 0px;
            font-size: calc(24rem / 16);
        }

        @include mobile-s {
            font-size: calc(20rem / 16);
        }

        &--fixed {
            background-color: $primary--bright;
        }

        &:hover, &:focus {
            box-shadow: 7px 7px 0px 0px black;
            transform: translate(-7px, -7px);
        }
    }
}