.menu {
    @include flex(row, space-between, center);
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
    margin: 50px;

    &_title {
        @include yesevaOne(calc(30rem / 16));
        @include transition;
        opacity: 0;
    }

    &_contents {
        @include flex(row, end, center);
    }

    &_item {
        @include yanoneKaffeesatz(calc(30rem / 16));
        @include resetLink;
        @include flex(column, center, center);

        &:first-of-type {
            margin-right: calc(50rem / 16);
        }

        &::after {
            @include transition;
            @include customUnderline;
        }

        &:hover::after, &:focus::after {
            width: 100%;
        }
    }

    &_button {
        @include yanoneKaffeesatz(calc(30rem / 16));
        @include transition;
        background-color: white;
        border-radius: 15px;
        margin-left: calc(80rem / 16);
        padding: calc(20rem / 16) calc(40rem / 16);
        border: none;
        box-shadow: none;
        cursor: pointer;

        &:hover, &:focus {
            box-shadow: 7px 7px 0px 0px black;
            transform: translate(-7px, -7px);
        }
    }
}