.prestations {
    @include flex(column, center, center);

    & h2 {
        margin: 0px 50px;
    }

    &_row {
        @include flex;
        position: relative;
        margin-top: 75px;

        @include tablet-m {
            flex-direction: column;
        }

        &--reverse {
            @include tablet-m {
                flex-direction: column-reverse;
            }
        }
    }

    &_image {
        width: 50%;

        @include tablet-m {
            width: 90%;
        }

        &--right {
            @include dropShadowRight;

            @include tablet-m {
                @include dropShadowRight(10px);
                align-self: start;
            }
        }

        &--left {
            @include dropShadowLeft;

            @include tablet-m {
                @include dropShadowLeft(10px);
                align-self: end;
            }
        }
    }

    &_caption {
        &--right {
            margin: 0px 50px 0px 70px;

            @include tablet-m {
                margin: 50px;
            }
        }

        &--left {
            margin: 0px 70px 0px 50px;

            @include tablet-m {
                margin: 50px;
            }
        }
    }

    &_title {
        @include yesevaOne(calc(38rem / 16));
        @include flex(column, center, start);

        &::after {
            @include customUnderline(20%, 1px, black);
            margin: calc(18rem/16) 0px;
        }

        @include desktop-s {
            font-size: calc(24rem / 16);
        }

        @include tablet-l {
            font-size: calc(20rem / 16);
        }

        @include tablet-m {
            font-size: calc(38rem / 16);
        }
    }

    &_copy {
        text-align: justify;

        @include tablet-m {
            text-align: left;
        }
    }

    &_blob {
        position: absolute;
        z-index: -1;

        &--1 {
            right: 0;
            top: -25px;
            width: 21%;

            @include tablet-m {
                top: 93px;
                width: 38%;
            }
        }

        &--2 {
            left: 0;
            top: -190px;
            width: 21%;

            @include tablet-m {
                top: 118px;
                width: 49%;
            }
        }

        &--3 {
            right: 0;
            top: -175px;
            width: 21.5%;

            @include tablet-m {
                top: 93px;
                width: 45%;
            }
        }

        &--4 {
            left: 0;
            top: -200px;
            width: 24%;

            @include tablet-m {
                top: 129px;
                width: 37%;
            }
        }

        &--5 {
            right: 0;
            top: -265px;
            width: 19.5%;

            @include tablet-m {
                top: 162px;
                width: 41%;
            }
        }
    }
}